.order-name {
    font-weight: 600;
}

.container a{
    text-decoration: none;  
    color: black;   
    display: flex;
}

.orders-card{
    
    border: solid 0.2px rgba(139, 146, 137, 0.397);
    margin-top: 20px;

}

