.order-name {
    font-weight: 600;
}

.container a{
    text-decoration: none;  
    color: black;   
    display: flex;
}

.orders-card{
    border: solid 0.2px rgba(139, 146, 137, 0.397);
    margin-top: 20px;
    width: 100%;
    height: 100% 

}

.header-details{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
    padding: 5px;
}

.order-details{
    display: flex;
    justify-content: start;
}

.order-details img{
    width: 130px;
    height: 130px;
}
@media (max-width:800px){
    .order-details img{
    width: 90px;
    height: 90px;
}

.order-details{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 10px;
}

.order-details button{
    font-size: 10px;
}

.header-details{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}

}


@media (max-width:500px){
    .header-details{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 9px;
    width: 100%;
    padding: 5px;
}

}