.input-order-value{
    width: 60px;
    height:25px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}

@media (max-width:800px){
.input-order-value{
    width: 40px;
    height:20px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}

}


